Задача 44:

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

```
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()
```

In [2]:
import pandas as pd

In [5]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  human
3  human
4  robot

In [20]:
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] == 'robot', 'human_group'] = '0'
data.loc[data['whoAmI'] == 'human', 'robot_group'] = '0'
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'

In [21]:
data.columns

Index(['whoAmI', 'human_group', 'robot_group'], dtype='object')

In [22]:
data

   whoAmI human_group robot_group
0   human           1           0
1   human           1           0
2   human           1           0
3   human           1           0
4   robot           0           1
5   human           1           0
6   human           1           0
7   robot           0           1
8   human           1           0
9   human           1           0
10  robot           0           1
11  robot           0           1
12  robot           0           1
13  robot           0           1
14  robot           0           1
15  human           1           0
16  robot           0           1
17  robot           0           1
18  robot           0           1
19  human           1           0